@page "/accounts"
@inject ISnackbar Snackbar
<PageTitle>Counter</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Counter</MudText>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        Snackbar.Add("Ala ma kota", Severity.Info);
        currentCount++;
    }
}
