<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="PortfolioEye.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    <script src="app.js"></script>
    <HeadOutlet @rendermode="RenderModeForPage"/>
</head>

<body>
@if (!IsStaticPage)
{
            <style>
            @@keyframes slide {
                0% {
                    transform: translateX(-25%);
                }

                100% {
                    transform: translateX(25%);
                }
            }

            .mud-wasm {
                animation: slide 3s ease-in-out infinite alternate;
                background-image: linear-gradient(-60deg,#0A2342 50%,#3498DB 50%);
                bottom: 0;
                left: -50%;
                opacity: .5;
                position: fixed;
                right: -50%;
                top: 0;
                z-index: -1
            }

            .mud-wasm-cont {
                left: 50%;
                padding: 10vmin;
                position: fixed;
                text-align: center;
                top: 50%;
                transform: translate(-50%,-50%)
            }
        </style>

        <div id="loading" style="height:100%;width:100%;margin:0;position:fixed;">
          <div class="mud-wasm"></div>
          <div class="mud-wasm" style="animation-direction:alternate-reverse;animation-duration:4s;"></div>
          <div class="mud-wasm" style="animation-duration:5s;"></div>
          <div class="mud-wasm-cont" style="display: flex; align-items: center; justify-content: center;">
            <img src="waitlogo.svg" style="height: 40vh;max-width: 60vw;" alt="Page logo">
          </div>
        </div>
}
<Routes @rendermode="RenderModeForPage"/>
<script src="_framework/blazor.web.js"></script>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>

@code {
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;
    private bool IsStaticPage => HttpContext.Request.Path.StartsWithSegments("/Account");

    private IComponentRenderMode? RenderModeForPage => IsStaticPage
        ? null
        : new InteractiveWebAssemblyRenderMode(false);

}