@inherits LayoutComponentBase

<MudThemeProvider Theme="currentTheme" IsDarkMode="false" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
	<MudAppBar Elevation="1">
		<MudText Typo="Typo.h5" Class="ml-3">PortfolioEye</MudText>
		<MudSpacer />
		<MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
	</MudAppBar>
	<MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
		<NavMenu />
	</MudDrawer>
	<MudMainContent>
		<MudToolBar DisableGutters="true">
			<MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" OnClick="@((e) => DrawerToggle())" Class="ml-3" />
			<MudBreadcrumbs Items="_items"></MudBreadcrumbs>
		</MudToolBar>
		<MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
			@Body
		</MudContainer>
	</MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>

@code {
	bool _drawerOpen = true;

	void DrawerToggle()
	{
		_drawerOpen = !_drawerOpen;
	}

	private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
{
		new BreadcrumbItem("Home", href: "#")   };

	private MudTheme currentTheme = new()
		{
			// Palette = new PaletteLight()
			// {
			// 	Primary = "#594AE2",
			// 	AppbarBackground = "#594AE2",
			// 	Background = "#FAFAFA"
			// },
			Palette = CustomMudTheme.LightTheme.Palette,
			PaletteDark = CustomMudTheme.DarkTheme.Palette,
			LayoutProperties = new LayoutProperties()
			{
				DefaultBorderRadius = "4px"
			},

			Typography = new Typography()
			{
				Default = new Default()
				{
					FontFamily = new[] { "Roboto", "Helvetica", "Arial", "sans-serif" },
					FontSize = "1rem",
					FontWeight = 400,
					LineHeight = 1.5,
					LetterSpacing = ".00938em"
				}

			}
		};
}